DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/portfolio"
PORT=4000
CLIENT_ORIGIN="http://localhost:5173"
ADMIN_TOKEN="generate-with: openssl rand -hex 24"
GMAIL_USER="you@gmail.com"
GMAIL_APP_PASSWORD="16-character app password from Google Account > Security > App Passwords"
CONTACT_TO_EMAIL="you@gmail.com"
